/* Borders-sizes*/

$border-media: 0.4em black;
$border-carrousel: 0.5em rgb(63, 94, 251);
$border-logo-mainnav:0.2em;
$border-small:0.2em rgb(63, 94, 251);
$border-form: 0.4em rgb(63, 94, 251);

/* border radius */

$border-radius-logo: 1.5em;
$border-radius-media: 0.5em;
$border-radius-a: 1em;
$border-radius-logo-mainnav: 1em;
