@import 'colors';

/* Fonts */

$font-tittles: 'Caveat', cursive;
$font-general: 'Roboto', sans-serif;

/* Sizes */

$font-size-h1: 3em;
$font-size-h2: 2em;
$font-size-h2-seccions: 3em;
$font-size-a-mainnav: 1.25em;
$font-size-a-footer: 2em;
$font-size-pieimagenes: 2.3em;

